<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

    <body>
        <!-- home page with products -->

        <%- include('../partials/navbar.ejs')%>
            <!-- product card css -->
            <link rel="stylesheet" href="/styles/productCardStyle.css">
            <script src="https://kit.fontawesome.com/6a3d932f86.js" crossorigin="anonymous"></script>



            <section style="padding-top: 2rem;">
                <div class="container py-5">
                    
                    <div class="row d-flex justify-content-center my-4">

                         


                         
                        <div   class="col-md-8" style="text-decoration: none;color:white">
                            <h3>&nbsp;</h3>

                           
                            <div class="card mb-4" style="background-color:#121212;border-radius: 1rem;">
                                
                                <div class="card-header py-3" style="border: solid 1px rgb(67, 67, 67);border-radius: 1rem;">
                                    <img class="mt-2" src="/images/icons/rupee-coin.png"  style="float: left;margin-right: 1rem;" alt="" height="30px" width="30px">  
                                    
                                    
                                    <h5 class="mb-0" style="float: left;">Hey <%= userDetails.username %>,  You have 
                                        
                                        <% if(userDetails.supercoins){ %>

                                            <span> <%= userDetails.supercoins %>  </span>
                                            
                                        <% }else{ %>
                                            
                                            <span> no </span>
                                        <% } %> 
                                        
                                        coins!</h5>  <br> <small> Supercoins are equivalent to real money</small> 
                                   

                                </div>

                            </div>

                        </div>

                        <div   class="col-md-8" style="text-decoration: none;color:white">
                            <h3>&nbsp;</h3>

                           
                            <div class="card mb-4" style="background-color:#121212;border-radius: 1rem;">
                                
                                <div class="card-header py-3" style="border: solid 1px rgb(67, 67, 67);border-radius: 1rem;">
                                    <img class="mt-2" src="/images/icons/referal.png"  style="float: left;margin-right: 1rem;" alt="" height="30px" width="30px">  
                                    
                                    
                                    <h5 class="mb-0" style="float: left;"> Copy & use the link to sign up</h5>  <br> <small >  You & your friend will get 10 coins as reward! use it to buy </small> 
                                   

                                </div>

                            </div>

                        </div>


                        <div   class="col-md-8" style="text-decoration: none;color:white">
                            <h3>&nbsp;</h3>

                           
                            <div class="card mb-4" style="background-color:#121212;border-radius: 1rem;">
                                
                                <div class="card-header py-3" style="border: solid 1px rgb(67, 67, 67);border-radius: 1rem;">
                                    <img class="mt-2" src="/images/icons/link.png"  style="float: left;margin-right: 1rem;" alt="" height="30px" width="30px">  
                                    
                                    
                                    <h5 class="mb-0" style="float: left;">Referral Link</h5>  <br> <small style="color: rgb(0, 149, 255);"> tech-shack.shop/user-sign-up/ref/<%= userDetails.username %></small> 
                                   

                                </div>

                            </div>

                        </div>

                      






                    </div>
                </div>
            </section>







            <!-- j query link -->

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

            <!-- temp style -->
            <style>
                body {
                    background-color: #121212;
                    color: white;

                }
            </style>



    </body>

</html>